#OpenCV Cache
/download
/include

# Ignore cmake build directories
opencv/
cmake-build-debug/

# But include the other files in cmakeLibs
!cmakeLibs/CMakeLists.txt
!cmakeLibs/some_other_file.txt

# Except for libopencv_java4.so
cmakeLibs/**/libopencv_java4.so

ios/opencv2.framework

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
